<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>INSERT TITLE HERE</title>
    </head>
    <body>
        <header>
            <h1>Technical Blag</h1> 
        </header>

        <div class="column left">
            <div class="border">
                <h2>Index</h2>
                    <ul type = "disc" class="index-list">
                        <li><a href="../index.html"><div class="button">Home</div></li>
                        <li>Blog Posts</a></li>
                            <ol>
                                <li><a href="../blog/sprint1-technical.html"><div class="button">Sprint 1 Technical</div></a></li>
                                <li><a href="../blog/sprint2-technical.html"><div class="button">Sprint 2 Technical</div></a></li>
                            </ol>
                        <li><a href="../values/values.html"><div class="button">Values</div></a></li>
                        <li><a href="../learning-plan/learning-plan.html"><div class="button">Learning plan</div></a></li>
                    </ul>
            </div>
        </div>
              
        <div class="column middle">
            <div class="border">
                <h2>Identity, Values and Strengths</h2> 
            </div>
            <div>
                <!-- INSERT BLOG POST HERE-->
            </div>
        </div>
        <Footer>
            <p>Contact details: Details coming soon</p>
            <p><a href="../license.html"> (c) 2019 Alex-Abernethy</a></p>
        </Footer>
    </body>
</html>