header { 
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    border: 2px;
    border-style: solid;
    border-color: black;
  }

footer { 
    text-align: center;
    clear: left;
    margin: 20px;
}

li{
    padding: 3px;
}

.image {
    display: block;
    margin: 15px;
}

body {
    background-color: powderblue;
  }

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 15 5 15 5;
  }

p {
    font-family: 'Roboto', sans-serif;
}

.index {
    font-family: 'Roboto', sans-serif;
    border: 1px;
    margin-right: 10px;
    border-style: solid;
    border-color: black;
}

.column {
    float: left;
  }
  
  /* Left column */
  .column.left {
    width: 30%;
  }
  
  /* Middle column */
  .column.right {
    width: 70%;
  }
  
  /* Responsive layout - columns will stack vertically on small screens */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }